Breast Cancer.json
[{"id":"3084bff2.56d75","type":"tab","label":"cancer","disabled":false,"info":""},{"id":"c4ac08c0.8cd168","type":"debug","z":"3084bff2.56d75","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":270,"y":400,"wires":[]},{"id":"38fc199a.70acf6","type":"function","z":"3084bff2.56d75","name":"pre-token","func":"global.set(\"rm\",msg.payload.rm)\nglobal.set(\"pm\",msg.payload.pm)\nglobal.set(\"am\",msg.payload.am)\nglobal.set(\"cm\",msg.payload.cm)\nglobal.set(\"cnm\",msg.payload.cnm)\nglobal.set(\"cpm\",msg.payload.cpm)\nvar apikey=\"vHJiO3MPjfcXCphp1uY_FwbDRPbPsLdKDuEi3DG76hIa\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":260,"wires":[["af7a0f1c.5be56"]]},{"id":"af7a0f1c.5be56","type":"http request","z":"3084bff2.56d75","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":432.00000381469727,"y":304.00000286102295,"wires":[["d7d1c643.5b39a8","6797e83f.10a218"]]},{"id":"d7d1c643.5b39a8","type":"debug","z":"3084bff2.56d75","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":360,"wires":[]},{"id":"6797e83f.10a218","type":"function","z":"3084bff2.56d75","name":"Pre Prediction","func":"var rm = global.get(\"rm\")\nvar pm = global.get(\"pm\")\nvar am = global.get(\"am\")\nvar cm = global.get(\"cm\")\nvar cnm = global.get(\"cnm\")\nvar cpm = global.get(\"cpm\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\":[\"radius_mean\",\"perimeter_mean\",\"area_mean\",\"compactness_mean\",\"concavity_mean\",\"concave points_mean\"],\"values\":[[rm,pm,am,cm,cnm,cpm]]}]}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":624.0000076293945,"y":256.0000021457672,"wires":[["beca421d.599e7"]]},{"id":"beca421d.599e7","type":"http request","z":"3084bff2.56d75","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/a8c53341-0988-450c-8c3f-39afc4d804c4/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":850,"y":280,"wires":[["42474f36.f2cbd","6f9c5c87.669ba4"]]},{"id":"42474f36.f2cbd","type":"debug","z":"3084bff2.56d75","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":340,"wires":[]},{"id":"f68af814.188bd8","type":"inject","z":"3084bff2.56d75","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":160,"wires":[["38fc199a.70acf6"]]},{"id":"da7daedd.86099","type":"debug","z":"3084bff2.56d75","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":833.9999885559082,"y":147.0000057220459,"wires":[]},{"id":"6f9c5c87.669ba4","type":"function","z":"3084bff2.56d75","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":679.6000595092773,"y":188.00000190734863,"wires":[["da7daedd.86099","71f9ddf1.31b094"]]},{"id":"e63410a7.c53c1","type":"ui_form","z":"3084bff2.56d75","name":"","label":"","group":"1c14afb6.e57c5","order":1,"width":0,"height":0,"options":[{"label":"Radius_mean","value":"rm","type":"number","required":true,"rows":null},{"label":"Perimeter_mean","value":"pm","type":"number","required":true,"rows":null},{"label":"Area_mean","value":"am","type":"number","required":true,"rows":null},{"label":"Compactness_mean","value":"cm","type":"number","required":true,"rows":null},{"label":"concavity_mean","value":"cnm","type":"number","required":true,"rows":null},{"label":"Concave points_mean","value":"cpm","type":"number","required":true,"rows":null}],"formValue":{"rm":"","pm":"","am":"","cm":"","cnm":"","cpm":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":133,"y":319.00000381469727,"wires":[["c4ac08c0.8cd168","38fc199a.70acf6"]]},{"id":"71f9ddf1.31b094","type":"ui_text","z":"3084bff2.56d75","group":"1c14afb6.e57c5","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":797.6000366210938,"y":421.20001220703125,"wires":[]},{"id":"1c14afb6.e57c5","type":"ui_group","z":"","name":"Breast Cancer Risk Prediction","tab":"9e25ec6b.98a71","order":1,"disp":true,"width":"6","collapse":false},{"id":"9e25ec6b.98a71","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]